{% extends 'base.html' %}
{% block con %}
    <form method="post">
        {% csrf_token %}
        <h1><b>TTS</b></h1>

        <div class="mt-5">
            <textarea class="form-control" name="st" style="height: 250px;" placeholder="내용을 입력해주세요">{{ st }}</textarea>
        </div>
        <div class="row mt-5">
            <div class="col-sm-3">
                <input type="text" class="form-control" value="{{ fn }}" name="fname" placeholder="파일이름을 입력해주세요">
            </div>
            <div class="col-sm-3">
                <select class="form-select" name="lang">
                    <option value="ko" {% if la == 'ko' %} selected {% endif %}>한국어</option>
                    <option value="en" {% if la == 'en' %} selected {% endif %}>영어</option>
                    <option value="ja" {% if la == 'ja' %} selected {% endif %}>일본어</option>
                </select>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-dark" style="width: 100%;">변환</button>
            </div>
            <div class="col-sm-3">
                <a type="button" class="btn btn-dark" style="width: 100%;" disabled {% if fn %} href="/media/tts/{{fn}}.mp3" download{% endif %}>다운</a>
                
            </div>
        </div>
    </form>

{% endblock %}